body{
    background-color: #f2f4f3;
}
img{
    background-color: #f2f4f3;
}
header{
    background-color: #3d85c6;
}
footer{
    background-color: #8dc63e;
    border-color: #333333;
}
a{
    color: #333333;
}
.img-thumbnail{
    background-color: #3d85c6;
    
}
section{
    color:#f2f4f3;
}
p{
    color: black;
}
i{
    color: #030303;
}
button{
    background-color: #3d85c6;
    color: white;
}