body{
    background-image: url(../img/1080p_HD_Space_Background.jpg);
    font-family: "SourceSans3";
}

form{
    /* Change Color */
    background-color: rgba(141, 198, 62, 0.7);
    
    font-family: "SourceSans3";
}
h1{
    color: #333333;
}
h2,h3{
    color: #f2f4f3;
}

@font-face {
    font-family: "SourceSans3";
    src: url(./Source_Sans_3/SourceSans3-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
input[type=submit]:hover{
    background-color: #3d85c6;
}
img{
    max-height: 200px;    
    max-width: 200px; 
}
.image-option img{
    opacity: 0.5;
    max-width: 100px;
    max-height: 100px;
    
}

.image-option img:hover{
    opacity: 1;
    max-width: 150px;
    max-height: 150px;
    
    
}

.image-option input:checked + img{
    opacity: 1;
    max-width: 150px;
    max-height: 150px;
    border-width: 10cm;
}

input[type=radio]{
    display: none;
}

